/.metadata/

# Ignore compiled class files
*.class

# Ignore Eclipse specific files
/.settings/
/.project
/.classpath

# Ignore build outputs
/target/
/out/FWTS/bin/main/application.properties
FWTS/build/resources/main/application.properties
FWTS/src/main/resources/application.properties
