<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamf.fwts.mapper.UserAccountMapper">
    <!-- 회원 수 확인 -->
    <select id="count" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM user_details ud
        JOIN users u ON u.user_id = ud.user_id
	    <where>
	        u.role = #{role}
	        <if test="category != null and keyword != null">
	            <choose>
	                <when test="category == 'username'">AND u.username LIKE CONCAT('%', #{keyword}, '%')</when>
	                <when test="category == 'email'">AND u.email LIKE CONCAT('%', #{keyword}, '%')</when>
	                <when test="category == 'companyName'">AND ud.company_name LIKE CONCAT('%', #{keyword}, '%')</when>
	                <otherwise>AND ud.ceo_name LIKE CONCAT('%', #{keyword}, '%')</otherwise>
	            </choose>
	        </if>
	        <if test="isLimited != false">
	            AND u.is_limited = #{isLimited}
	        </if>
	    </where>
	</select>
    
    <!-- 회원 조회 -->
    <select id="findAll" resultType="com.teamf.fwts.dto.UserListDto">
        SELECT ud.user_id, u.username, u.email, u.is_limited, u.created_at,
        ud.ceo_name, ud.phone_num, ud.company_num, ud.business_no, ud.company_name, ud.postal_code, ud.address, ud.detail_address,
        a.bank_name, a.account_Num
        FROM user_details ud
        JOIN users u ON u.user_id = ud.user_id
        LEFT JOIN account a ON u.user_id = a.user_id
        <where>
        	u.role = #{role}
            <if test="category != null and keyword != null">
                <choose>
                    <when test="category == 'username'">AND u.username LIKE CONCAT('%', #{keyword}, '%')</when>
	                <when test="category == 'email'">AND u.email LIKE CONCAT('%', #{keyword}, '%')</when>
	                <when test="category == 'companyName'">AND ud.company_name LIKE CONCAT('%', #{keyword}, '%')</when>
	                <otherwise>AND ud.ceo_name LIKE CONCAT('%', #{keyword}, '%')</otherwise>
                </choose>
            </if>
            <if test="isLimited != false">
	            AND u.is_limited = #{isLimited}
	        </if>
        </where>
        LIMIT #{start}, #{count}
    </select>
</mapper>