@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'WagleWagle';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2301-wagle@1.0/WagleWagle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.special-font {
    font-family: 'WagleWagle', sans-serif;
    font-size: 40px;
    color: #F72C5B;
    text-decoration: none;
}
:root {
	--main1: #52BC8B; /*초*/
	--main2: #6F6F6F; /*회*/
	--main3: #F2B8D6; /*연핑*/
	--main4: #F86CB4; /*진핑*/
	--main5: #FFE3E3;
	--font-family:'Pretendard-Regular', sans-serif;
}

body {
    font-family:var(--font-family);
    background-color: #fff;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.body-container {
    display: flex;
    margin: 30px 10px;
}

/* 버튼 */
.button-container {
    display: flex;
    align-items: center;
}
.button {
	font-weight: 600;
    background: #ff7f9d;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    margin: 20px 10px 15px 10px;
    position: relative;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left h1 {
    margin: 0;
}
.header-right {
    display: flex;
}
.header-right a {
    font-size: 13px;
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

/* 검색창 */
.search-container {
    width: 240px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 110px;
    background-color: #fff;
}
.search-box {
    font-size: 14px;
    border: none;
    outline: none;
    flex-grow: 1;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ff3366;
    padding: 5px;
}

/* 메뉴 */
.nav-container {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	align-items: flex-end;
}
.nav a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    margin-right: 30px;
}
.nav-right a {
    text-decoration: none;
    color: #FF748B;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

/* 사이드바 */
.sidebar {
    width: 180px; /* 너비 고정 */
    min-width: 180px;
    max-width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    align-self: flex-start; /* 내부 콘텐츠 크기만큼 높이 조정 */
}
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

/* 페이지네이션 */
.pagination {
	font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.pagination a {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.pagination a.active {
	border: none;
    background-color: #ff6080;
    color: white;
}