.sidebar {
    width: 180px; /* 사이드 메뉴 너비 고정 */
    min-width: 180px;
    max-width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    align-self: flex-start; /* 내부 콘텐츠 크기만큼 높이 조정 */
}
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}